
    <div class="footer">
        <div class="footer-logo">LLOYD<span class="span">JEFFERSON.</span></div>
        <ul>
            <li><a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a></li>
            <li><a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a></li>
            <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/yourteamproject" target="_blank">GitHub</a></li>
        </ul>
        <p>© Copyright 2024. Made by LloydJefferson</p>
    </div>

