<section class="my-projeccts">
  <div class="container">
    <h2 class="projects-title">MY<span class="span-title">PROJECTS</span></h2>
    <ul class="projects-ul">
      <li class="projects-li">
        <img
          class="projeckts-img"
          srcset="../img/my-projeckts/1.jpg 1x, ../img/my-projeckts/1-2x.jpg 2x"
          src="../img/my-projeckts/1.jpg"
          alt="Wallet-webservice"
          width="320"
        />
        <div class="div-projeckts-h-p">
          <h3 class="projeckts-h">React, JavaScript, Node JS, Git</h3>
          <p class="projects-p">Wallet webservice</p>
          <button class="projeckts-btn">VISIT</button>
        </div>
      </li>
      <li class="projects-li">
        <img
          class="projeckts-img"
          srcset="../img/my-projeckts/2.jpg 1x, ../img/my-projeckts/2-2x.jpg 2x"
          src="../img/my-projeckts/2.jpg"
          alt="Green-harvest"
          width="320"
        />
        <div class="div-projeckts-h-p">
          <h3 class="projeckts-h">React, JavaScript, Node JS, Git</h3>
          <p class="projects-p">Green harvest webservice</p>
          <button class="projeckts-btn">VISIT</button>
        </div>
      </li>
      <li class="projects-li">
        <img
          class="projeckts-img"
          srcset="../img/my-projeckts/3.jpg 1x, ../img/my-projeckts/3-2x.jpg 2x"
          src="../img/my-projeckts/3.jpg"
          alt="English-Exellence"
          width="320"
        />
        <div class="div-projeckts-h-p">
          <h3 class="projeckts-h">React, JavaScript, Node JS, Git</h3>
          <p class="projects-p">English Exellence website</p>
          <button class="projeckts-btn">VISIT</button>
        </div>
      </li>
    </ul>
    <button class="btn-load-more">LOAD MORE</button>
  </div>
</section>
